@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Comforter&family=Gasoek+One&family=Oi&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background: radial-gradient(ellipse at bottom, #1c2837 0%, #050608 100%);
  background-attachment: fixed;
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}

a,
a:visited {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
a:hover,
a:visited:hover {
  opacity: 1;
}
a.icon,
a:visited.icon {
  margin-right: 2px;
  padding: 3px;
}

.description {
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 999;
}
.description p {
  font-size: 0.9em;
}
.description p + p {
  margin-top: 20px;
}
.description p.author {
  font-size: 0.7em;
}
.description p.author .fa-heart {
  color: #860014;
}

hr {
  margin: 26px 0;
  border: 0;
  border-top: 1px solid white;
  background: transparent;
  width: 25%;
  opacity: 0.1;
}

code {
  color: #ae94c0;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9em;
}

.solar-syst {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.solar-syst:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  box-shadow: 1279px 478px 0 0px rgba(255, 255, 255, 0.735) , 241px 1521px 0 0px rgba(255,255,255, 0.256) , 1226px 854px 0 0px rgba(255,255,255, 0.551) , 60px 1401px 0 0px rgba(255,255,255, 0.336) , 1155px 1781px 0 0px rgba(255,255,255, 0.173) , 1718px 720px 0 0px rgba(255,255,255, 0.075) , 1117px 1766px 0 0px rgba(255,255,255, 0.745) , 767px 492px 0 0px rgba(255,255,255, 0.605) , 813px 984px 0 0px rgba(255,255,255, 0.039) , 349px 650px 0 0px rgba(255,255,255, 0.176) , 1011px 953px 0 0px rgba(255,255,255, 0.831) , 1005px 18px 0 0px rgba(255,255,255, 0.116) , 82px 1002px 0 0px rgba(255,255,255, 0.9) , 662px 1134px 0 0px rgba(255,255,255, 0.154) , 1267px 1706px 0 0px rgba(255,255,255, 0.446) , 318px 975px 0 0px rgba(255,255,255, 0.296) , 351px 1620px 0 0px rgba(255,255,255, 0.859) , 1403px 1251px 0 0px rgba(255,255,255, 0.83) , 814px 830px 0 0px rgba(255,255,255, 0.875) , 85px 145px 0 0px rgba(255,255,255, 0.309) , 468px 1525px 0 0px rgba(255,255,255, 0.581) , 1446px 1130px 0 0px rgba(255,255,255, 0.636) , 1512px 1796px 0 0px rgba(255,255,255, 0.197) , 1258px 24px 0 0px rgba(255,255,255, 0.65) , 1516px 173px 0 0px rgba(255,255,255, 0.97) , 391px 1289px 0 0px rgba(255,255,255, 0.333) , 365px 1552px 0 0px rgba(255,255,255, 0.059) , 1232px 1096px 0 0px rgba(255,255,255, 0.472) , 263px 290px 0 0px rgba(255,255,255, 0.725) , 413px 572px 0 0px rgba(255,255,255, 0.856) , 519px 58px 0 0px rgba(255,255,255, 0.685) , 712px 1794px 0 0px rgba(255,255,255, 0.924) , 1341px 426px 0 0px rgba(255,255,255, 0.817) , 800px 1559px 0 0px rgba(255,255,255, 0.199) , 1567px 107px 0 0px rgba(255,255,255, 0.948) , 1253px 701px 0 0px rgba(255,255,255, 0.818) , 762px 138px 0 0px rgba(255,255,255, 0.562) , 1159px 753px 0 0px rgba(255,255,255, 0.364) , 1326px 1490px 0 0px rgba(255,255,255, 0.193) , 903px 831px 0 0px rgba(255,255,255, 0.059) , 1191px 1420px 0 0px rgba(255,255,255, 0.499) , 951px 531px 0 0px rgba(255,255,255, 0.127) , 1522px 1134px 0 0px rgba(255,255,255, 0.7) , 1534px 1346px 0 0px rgba(255,255,255, 0.738) , 1236px 55px 0 0px rgba(255,255,255, 0.819) , 1675px 2px 0 0px rgba(255,255,255, 0.438) , 1077px 79px 0 0px rgba(255,255,255, 0.349) , 67px 1597px 0 0px rgba(255,255,255, 0.099) , 1516px 1620px 0 0px rgba(255,255,255, 0.176) , 1206px 1210px 0 0px rgba(255,255,255, 0.348) , 262px 1779px 0 0px rgba(255,255,255, 0.073) , 368px 1789px 0 0px rgba(255,255,255, 0.697) , 556px 1578px 0 0px rgba(255,255,255, 0.354) , 257px 735px 0 0px rgba(255,255,255, 0.86) , 1238px 969px 0 0px rgba(255,255,255, 0.311) , 578px 1000px 0 0px rgba(255,255,255, 0.088) , 843px 679px 0 0px rgba(255,255,255, 0.316) , 1332px 70px 0 0px rgba(255,255,255, 0.391) , 1377px 172px 0 0px rgba(255,255,255, 0.512) , 141px 1650px 0 0px rgba(255,255,255, 0.931) , 420px 1553px 0 0px rgba(255,255,255, 0.819) , 182px 1649px 0 0px rgba(255,255,255, 0.39) , 238px 803px 0 0px rgba(255,255,255, 0.207) , 1747px 36px 0 0px rgba(255,255,255, 0.978) , 587px 890px 0 0px rgba(255,255,255, 0.771) , 821px 181px 0 0px rgba(255,255,255, 0.354) , 71px 111px 0 0px rgba(255,255,255, 0.873) , 671px 430px 0 0px rgba(255,255,255, 0.771) , 444px 387px 0 0px rgba(255,255,255, 0.44) , 1272px 1445px 0 0px rgba(255,255,255, 0.93) , 489px 1304px 0 0px rgba(255,255,255, 0.01) , 1155px 1255px 0 0px rgba(255,255,255, 0.473) , 1179px 461px 0 0px rgba(255,255,255, 0.498) , 625px 1565px 0 0px rgba(255,255,255, 0.229) , 556px 1263px 0 0px rgba(255,255,255, 0.352) , 1643px 797px 0 0px rgba(255,255,255, 0.703) , 449px 90px 0 0px rgba(255,255,255, 0.82) , 947px 717px 0 0px rgba(255,255,255, 0.371) , 65px 412px 0 0px rgba(255,255,255, 0.47) , 1448px 70px 0 0px rgba(255,255,255, 0.316) , 885px 376px 0 0px rgba(255,255,255, 0.68) , 977px 1719px 0 0px rgba(255,255,255, 0.838) , 1387px 1591px 0 0px rgba(255,255,255, 0.446) , 1794px 919px 0 0px rgba(255,255,255, 0.897) , 12px 1775px 0 0px rgba(255,255,255, 0.379) , 145px 728px 0 0px rgba(255,255,255, 0.687) , 435px 1690px 0 0px rgba(255,255,255, 0.925) , 213px 663px 0 0px rgba(255,255,255, 0.747) , 340px 116px 0 0px rgba(255,255,255, 0.295) , 1282px 775px 0 0px rgba(255,255,255, 0.942) , 1650px 441px 0 0px rgba(255,255,255, 0.923) , 158px 703px 0 0px rgba(255,255,255, 0.438) , 1749px 1456px 0 0px rgba(255,255,255, 0.585) , 240px 1769px 0 0px rgba(255,255,255, 0.807) , 1455px 100px 0 0px rgba(255,255,255, 0.961) , 742px 767px 0 0px rgba(255,255,255, 0.649) , 1104px 295px 0 0px rgba(255,255,255, 0.349) , 1706px 637px 0 0px rgba(255,255,255, 0.326) , 1153px 728px 0 0px rgba(255,255,255, 0.867) , 1655px 1277px 0 0px rgba(255,255,255, 0.874) , 1688px 1487px 0 0px rgba(255,255,255, 0.699) , 639px 1301px 0 0px rgba(255,255,255, 0.975) , 334px 1631px 0 0px rgba(255,255,255, 0.829) , 551px 18px 0 0px rgba(255,255,255, 0.27) , 555px 1502px 0 0px rgba(255,255,255, 0.944) , 10px 515px 0 0px rgba(255,255,255, 0.912) , 685px 60px 0 0px rgba(255,255,255, 0.704) , 633px 1199px 0 0px rgba(255,255,255, 0.128) , 842px 957px 0 0px rgba(255,255,255, 0.542) , 84px 1478px 0 0px rgba(255,255,255, 0.926) , 672px 692px 0 0px rgba(255,255,255, 0.186) , 1116px 145px 0 0px rgba(255,255,255, 0.805) , 489px 986px 0 0px rgba(255,255,255, 0.389) , 361px 1301px 0 0px rgba(255,255,255, 0.091) , 176px 199px 0 0px rgba(255,255,255, 0.051) , 1571px 994px 0 0px rgba(255,255,255, 0.362) , 1245px 717px 0 0px rgba(255,255,255, 0.127) , 1400px 1317px 0 0px rgba(255,255,255, 0.817) , 798px 518px 0 0px rgba(255,255,255, 0.799) , 1377px 667px 0 0px rgba(255,255,255, 0.896) , 1747px 709px 0 0px rgba(255,255,255, 0.404) , 793px 1742px 0 0px rgba(255,255,255, 0.143) , 1177px 1001px 0 0px rgba(255,255,255, 0.078) , 379px 1182px 0 0px rgba(255,255,255, 0.129) , 724px 1070px 0 0px rgba(255,255,255, 0.583) , 716px 1046px 0 0px rgba(255,255,255, 0.416) , 1274px 1128px 0 0px rgba(255,255,255, 0.133) , 699px 650px 0 0px rgba(255,255,255, 0.259) , 221px 1437px 0 0px rgba(255,255,255, 0.968) , 591px 412px 0 0px rgba(255,255,255, 0.099) , 1797px 367px 0 0px rgba(255,255,255, 0.965) , 1381px 182px 0 0px rgba(255,255,255, 0.219) , 1560px 1039px 0 0px rgba(255,255,255, 0.776) , 308px 872px 0 0px rgba(255,255,255, 0.718) , 1405px 1289px 0 0px rgba(255,255,255, 0.68) , 940px 1177px 0 0px rgba(255,255,255, 0.438) , 794px 840px 0 0px rgba(255,255,255, 0.513) , 1116px 670px 0 0px rgba(255,255,255, 0.317) , 1072px 1631px 0 0px rgba(255,255,255, 0.181) , 1635px 1055px 0 0px rgba(255,255,255, 0.985) , 1618px 1368px 0 0px rgba(255,255,255, 0.576) , 464px 318px 0 0px rgba(255,255,255, 0.475) , 769px 731px 0 0px rgba(255,255,255, 0.64) , 1253px 1244px 0 0px rgba(255,255,255, 0.105) , 29px 1015px 0 0px rgba(255,255,255, 0.007) , 135px 1026px 0 0px rgba(255,255,255, 0.327) , 423px 892px 0 0px rgba(255,255,255, 0.417) , 1533px 584px 0 0px rgba(255,255,255, 0.479) , 175px 960px 0 0px rgba(255,255,255, 0.121) , 1004px 645px 0 0px rgba(255,255,255, 0.09) , 1305px 1569px 0 0px rgba(255,255,255, 0.646) , 188px 1276px 0 0px rgba(255,255,255, 0.689) , 568px 1430px 0 0px rgba(255,255,255, 0.99) , 1363px 479px 0 0px rgba(255,255,255, 0.921) , 1026px 885px 0 0px rgba(255,255,255, 0.743) , 1143px 383px 0 0px rgba(255,255,255, 0.119) , 1659px 1554px 0 0px rgba(255,255,255, 0.84) , 128px 863px 0 0px rgba(255,255,255, 0.977) , 718px 812px 0 0px rgba(255,255,255, 0.422) , 1197px 860px 0 0px rgba(255,255,255, 0.167) , 863px 1476px 0 0px rgba(255,255,255, 0.511) , 319px 595px 0 0px rgba(255,255,255, 0.948) , 1162px 108px 0 0px rgba(255,255,255, 0.436) , 173px 453px 0 0px rgba(255,255,255, 0.613) , 330px 334px 0 0px rgba(255,255,255, 0.844) , 62px 1517px 0 0px rgba(255,255,255, 0.437) , 932px 1167px 0 0px rgba(255,255,255, 0.213) , 1334px 960px 0 0px rgba(255,255,255, 0.746) , 299px 863px 0 0px rgba(255,255,255, 0.099) , 156px 227px 0 0px rgba(255,255,255, 0.188) , 537px 466px 0 0px rgba(255,255,255, 0.192) , 771px 155px 0 0px rgba(255,255,255, 0.233) , 1095px 451px 0 0px rgba(255,255,255, 0.535) , 394px 1279px 0 0px rgba(255,255,255, 0.777) , 962px 476px 0 0px rgba(255,255,255, 0.929) , 1502px 1266px 0 0px rgba(255,255,255, 0.845) , 1624px 219px 0 0px rgba(255,255,255, 0.069) , 1235px 683px 0 0px rgba(255,255,255, 0.083) , 471px 881px 0 0px rgba(255,255,255, 0.544) , 611px 1114px 0 0px rgba(255,255,255, 0.173) , 1609px 676px 0 0px rgba(255,255,255, 0.977) , 430px 1450px 0 0px rgba(255,255,255, 0.818) , 292px 1264px 0 0px rgba(255,255,255, 0.659) , 143px 120px 0 0px rgba(255,255,255, 0.153) , 586px 380px 0 0px rgba(255,255,255, 0.442) , 1265px 858px 0 0px rgba(255,255,255, 0.989) , 398px 522px 0 0px rgba(255,255,255, 0.383) , 1587px 522px 0 0px rgba(255,255,255, 0.794) , 385px 1038px 0 0px rgba(255,255,255, 0.283) , 1650px 153px 0 0px rgba(255,255,255, 0.457) , 580px 1129px 0 0px rgba(255,255,255, 0.949) , 739px 1770px 0 0px rgba(255,255,255, 0.738) , 1091px 552px 0 0px rgba(255,255,255, 0.745) , 539px 780px 0 0px rgba(255,255,255, 0.404) , 153px 1320px 0 0px rgba(255,255,255, 0.25) , 280px 224px 0 0px rgba(255,255,255, 0.207) , 365px 1758px 0 0px rgba(255,255,255, 0.809) , 22px 1601px 0 0px rgba(255,255,255, 0.064) , 265px 1680px 0 0px rgba(255,255,255, 0.497) , 530px 613px 0 0px rgba(255,255,255, 0.372) , 424px 147px 0 0px rgba(255,255,255, 0.178) , 153px 857px 0 0px rgba(255,255,255, 0.065) , 822px 1739px 0 0px rgba(255,255,255, 0.25) , 458px 581px 0 0px rgba(255,255,255, 0.627) , 585px 14px 0 0px rgba(255,255,255, 0.831) , 1307px 674px 0 0px rgba(255,255,255, 0.204) , 1349px 321px 0 0px rgba(255,255,255, 0.749) , 1602px 1397px 0 0px rgba(255,255,255, 0.744) , 1478px 550px 0 0px rgba(255,255,255, 0.755) , 196px 467px 0 0px rgba(255,255,255, 0.586) , 838px 1263px 0 0px rgba(255,255,255, 0.74) , 1086px 78px 0 0px rgba(255,255,255, 0.045) , 1458px 1361px 0 0px rgba(255,255,255, 0.367) , 1416px 646px 0 0px rgba(255,255,255, 0.031) , 1758px 1549px 0 0px rgba(255,255,255, 0.244) , 1525px 790px 0 0px rgba(255,255,255, 0.368) , 867px 135px 0 0px rgba(255,255,255, 0.756) , 773px 431px 0 0px rgba(255,255,255, 0.835) , 853px 581px 0 0px rgba(255,255,255, 0.693) , 152px 805px 0 0px rgba(255,255,255, 0.737) , 468px 652px 0 0px rgba(255,255,255, 0.311) , 1763px 1296px 0 0px rgba(255,255,255, 0.527) , 749px 1343px 0 0px rgba(255,255,255, 0.852) , 41px 894px 0 0px rgba(255,255,255, 0.244) , 891px 764px 0 0px rgba(255,255,255, 0.264) , 1052px 540px 0 0px rgba(255,255,255, 0.77) , 386px 1713px 0 0px rgba(255,255,255, 0.355) , 717px 573px 0 0px rgba(255,255,255, 0.176) , 1564px 1628px 0 0px rgba(255,255,255, 0.364) , 1784px 1649px 0 0px rgba(255,255,255, 0.04) , 1704px 753px 0 0px rgba(255,255,255, 0.17) , 587px 1748px 0 0px rgba(255,255,255, 0.731) , 1376px 867px 0 0px rgba(255,255,255, 0.099) , 124px 1438px 0 0px rgba(255,255,255, 0.106) , 1273px 1051px 0 0px rgba(255,255,255, 0.738) , 1312px 1500px 0 0px rgba(255,255,255, 0.595) , 1141px 1724px 0 0px rgba(255,255,255, 0.764) , 638px 115px 0 0px rgba(255,255,255, 0.777) , 893px 1144px 0 0px rgba(255,255,255, 0.029) , 413px 1493px 0 0px rgba(255,255,255, 0.554) , 847px 1615px 0 0px rgba(255,255,255, 0.937) , 609px 1334px 0 0px rgba(255,255,255, 0.885) , 1679px 593px 0 0px rgba(255,255,255, 0.23) , 111px 790px 0 0px rgba(255,255,255, 0.083) , 594px 947px 0 0px rgba(255,255,255, 0.13) , 458px 1531px 0 0px rgba(255,255,255, 0.119) , 827px 688px 0 0px rgba(255,255,255, 0.654) , 947px 1433px 0 0px rgba(255,255,255, 0.84) , 909px 837px 0 0px rgba(255,255,255, 0.655) , 1182px 463px 0 0px rgba(255,255,255, 0.989) , 612px 1791px 0 0px rgba(255,255,255, 0.147) , 1602px 1627px 0 0px rgba(255,255,255, 0.392) , 64px 831px 0 0px rgba(255,255,255, 0.787) , 109px 625px 0 0px rgba(255,255,255, 0.232) , 1348px 1116px 0 0px rgba(255,255,255, 0.839) , 1611px 534px 0 0px rgba(255,255,255, 0.86) , 1447px 1410px 0 0px rgba(255,255,255, 0.677) , 1335px 889px 0 0px rgba(255,255,255, 0.327) , 1740px 1383px 0 0px rgba(255,255,255, 0.685) , 661px 1369px 0 0px rgba(255,255,255, 0.583) , 1077px 814px 0 0px rgba(255,255,255, 0.883) , 1291px 1099px 0 0px rgba(255,255,255, 0.431) , 27px 124px 0 0px rgba(255,255,255, 0.919) , 79px 1020px 0 0px rgba(255,255,255, 0.383) , 286px 30px 0 0px rgba(255,255,255, 0.607) , 619px 298px 0 0px rgba(255,255,255, 0.597) , 351px 1790px 0 0px rgba(255,255,255, 0.159) , 237px 1456px 0 0px rgba(255,255,255, 0.819) , 1051px 699px 0 0px rgba(255,255,255, 0.384) , 3px 1194px 0 0px rgba(255,255,255, 0.426) , 440px 1189px 0 0px rgba(255,255,255, 0.328) , 270px 1690px 0 0px rgba(255,255,255, 0.304) , 1646px 670px 0 0px rgba(255,255,255, 0.004) , 1786px 1380px 0 0px rgba(255,255,255, 0.515) , 1390px 613px 0 0px rgba(255,255,255, 0.921) , 1066px 1716px 0 0px rgba(255,255,255, 0.737) , 1446px 1061px 0 0px rgba(255,255,255, 0.888) , 963px 950px 0 0px rgba(255,255,255, 0.427) , 1234px 951px 0 0px rgba(255,255,255, 0.326) , 1432px 409px 0 0px rgba(255,255,255, 0.604) , 1115px 1122px 0 0px rgba(255,255,255, 0.487) , 453px 959px 0 0px rgba(255,255,255, 0.919) , 936px 243px 0 0px rgba(255,255,255, 0.133) , 1130px 1730px 0 0px rgba(255,255,255, 0.959) , 1295px 260px 0 0px rgba(255,255,255, 0.503) , 809px 875px 0 0px rgba(255,255,255, 0.389) , 1791px 1473px 0 0px rgba(255,255,255, 0.904) , 1739px 393px 0 0px rgba(255,255,255, 0.823) , 791px 485px 0 0px rgba(255,255,255, 0.209) , 1540px 496px 0 0px rgba(255,255,255, 0.653) , 972px 1410px 0 0px rgba(255,255,255, 0.609) , 1680px 608px 0 0px rgba(255,255,255, 0.631) , 745px 774px 0 0px rgba(255,255,255, 0.635) , 1330px 586px 0 0px rgba(255,255,255, 0.487) , 465px 1688px 0 0px rgba(255,255,255, 0.682) , 422px 853px 0 0px rgba(255,255,255, 0.411) , 1645px 644px 0 0px rgba(255,255,255, 0.838) , 1094px 1219px 0 0px rgba(255,255,255, 0.906) , 1233px 893px 0 0px rgba(255,255,255, 0.628) , 1168px 491px 0 0px rgba(255,255,255, 0.707) , 1462px 1492px 0 0px rgba(255,255,255, 0.527) , 70px 816px 0 0px rgba(255,255,255, 0.636) , 1683px 636px 0 0px rgba(255,255,255, 0.224) , 1661px 934px 0 0px rgba(255,255,255, 0.609) , 404px 1214px 0 0px rgba(255,255,255, 0.424) , 1582px 235px 0 0px rgba(255,255,255, 0.267) , 1673px 447px 0 0px rgba(255,255,255, 0.999) , 588px 457px 0 0px rgba(255,255,255, 0.102) , 1664px 17px 0 0px rgba(255,255,255, 0.931) , 204px 1718px 0 0px rgba(255,255,255, 0.044) , 427px 1144px 0 0px rgba(255,255,255, 0.297) , 748px 861px 0 0px rgba(255,255,255, 0.412) , 1506px 1336px 0 0px rgba(255,255,255, 0.99) , 911px 1044px 0 0px rgba(255,255,255, 0.489) , 1623px 219px 0 0px rgba(255,255,255, 0.898) , 605px 630px 0 0px rgba(255,255,255, 0.499) , 868px 1359px 0 0px rgba(255,255,255, 0.926) , 1760px 870px 0 0px rgba(255,255,255, 0.45) , 1368px 1145px 0 0px rgba(255,255,255, 0.554) , 1550px 1782px 0 0px rgba(255,255,255, 0.764) , 14px 684px 0 0px rgba(255,255,255, 0.711) , 1088px 622px 0 0px rgba(255,255,255, 0.709) , 1270px 1381px 0 0px rgba(255,255,255, 0.98) , 1786px 1101px 0 0px rgba(255,255,255, 0.996) , 46px 294px 0 0px rgba(255,255,255, 0.972) , 974px 1743px 0 0px rgba(255,255,255, 0.524) , 826px 1111px 0 0px rgba(255,255,255, 0.157) , 1278px 313px 0 0px rgba(255,255,255, 0.777) , 1351px 389px 0 0px rgba(255,255,255, 0.484) , 1017px 129px 0 0px rgba(255,255,255, 0.043) , 584px 753px 0 0px rgba(255,255,255, 0.886) , 291px 1445px 0 0px rgba(255,255,255, 0.968) , 38px 630px 0 0px rgba(255,255,255, 0.815) , 841px 240px 0 0px rgba(255,255,255, 0.189) , 1011px 1358px 0 0px rgba(255,255,255, 0.011) , 274px 673px 0 0px rgba(255,255,255, 0.415) , 656px 961px 0 0px rgba(255,255,255, 0.467) , 131px 1083px 0 0px rgba(255,255,255, 0.963) , 1720px 727px 0 0px rgba(255,255,255, 0.137) , 817px 1667px 0 0px rgba(255,255,255, 0.78) , 1017px 1662px 0 0px rgba(255,255,255, 0.461) , 1331px 1463px 0 0px rgba(255,255,255, 0.021) , 773px 1486px 0 0px rgba(255,255,255, 0.574) , 262px 161px 0 0px rgba(255,255,255, 0.914) , 209px 211px 0 0px rgba(255,255,255, 0.049) , 662px 183px 0 0px rgba(255,255,255, 0.453) , 1347px 1425px 0 0px rgba(255,255,255, 0.349) , 591px 1754px 0 0px rgba(255,255,255, 0.977) , 892px 897px 0 0px rgba(255,255,255, 0.875) , 1296px 1011px 0 0px rgba(255,255,255, 0.976) , 290px 755px 0 0px rgba(255,255,255, 0.71) , 1248px 1288px 0 0px rgba(255,255,255, 0.95) , 903px 617px 0 0px rgba(255,255,255, 0.566) , 192px 197px 0 0px rgba(255,255,255, 0.62) , 545px 1555px 0 0px rgba(255,255,255, 0.359) , 757px 391px 0 0px rgba(255,255,255, 0.335) , 1335px 238px 0 0px rgba(255,255,255, 0.888) , 1130px 552px 0 0px rgba(255,255,255, 0.97) , 1304px 41px 0 0px rgba(255,255,255, 0.276) , 1781px 1436px 0 0px rgba(255,255,255, 0.009) , 1487px 525px 0 0px rgba(255,255,255, 0.7) , 30px 1284px 0 0px rgba(255,255,255, 0.744) , 546px 57px 0 0px rgba(255,255,255, 0.97) , 281px 337px 0 0px rgba(255,255,255, 0.186) , 1311px 677px 0 0px rgba(255,255,255, 0.024) , 1302px 377px 0 0px rgba(255,255,255, 0.615) , 1694px 1787px 0 0px rgba(255,255,255, 0.428) , 768px 606px 0 0px rgba(255,255,255, 0.225) , 894px 155px 0 0px rgba(255,255,255, 0.552) , 1277px 1602px 0 0px rgba(255,255,255, 0.44) , 292px 1670px 0 0px rgba(255,255,255, 0.415) , 65px 273px 0 0px rgba(255,255,255, 0.247) , 1211px 255px 0 0px rgba(255,255,255, 0.583) , 322px 1622px 0 0px rgba(255,255,255, 0.55) , 1780px 1772px 0 0px rgba(255,255,255, 0.391) , 993px 1713px 0 0px rgba(255,255,255, 0.628) , 1308px 420px 0 0px rgba(255,255,255, 0.688) , 922px 1120px 0 0px rgba(255,255,255, 0.461) , 62px 1127px 0 0px rgba(255,255,255, 0.801) , 1005px 60px 0 0px rgba(255,255,255, 0.326) , 1252px 385px 0 0px rgba(255,255,255, 0.26) , 1354px 1299px 0 0px rgba(255,255,255, 0.714) , 1268px 520px 0 0px rgba(255,255,255, 0.558) , 1012px 481px 0 0px rgba(255,255,255, 0.151) , 1717px 1153px 0 0px rgba(255,255,255, 0.422) , 634px 284px 0 0px rgba(255,255,255, 0.648) , 1070px 1002px 0 0px rgba(255,255,255, 0.453) , 713px 253px 0 0px rgba(255,255,255, 0.058) , 383px 719px 0 0px rgba(255,255,255, 0.797) , 1789px 1268px 0 0px rgba(255,255,255, 0.168) , 1307px 506px 0 0px rgba(255,255,255, 0.095) , 1530px 498px 0 0px rgba(255,255,255, 0.26) , 523px 412px 0 0px rgba(255,255,255, 0.066) , 1455px 530px 0 0px rgba(255,255,255, 0.034) , 1127px 907px 0 0px rgba(255,255,255, 0.496) , 1418px 1544px 0 0px rgba(255,255,255, 0.51) , 1456px 654px 0 0px rgba(255,255,255, 0.738) , 1045px 146px 0 0px rgba(255,255,255, 0.88) , 1534px 1065px 0 0px rgba(255,255,255, 0.711) , 1683px 1035px 0 0px rgba(255,255,255, 0.74) , 51px 1165px 0 0px rgba(255,255,255, 0.025) , 291px 933px 0 0px rgba(255,255,255, 0.087) , 1129px 1257px 0 0px rgba(255,255,255, 0.718) , 956px 568px 0 0px rgba(255,255,255, 0.289) , 905px 594px 0 0px rgba(255,255,255, 0.643) , 691px 1449px 0 0px rgba(255,255,255, 0.502) , 1178px 1411px 0 0px rgba(255,255,255, 0.028) , 1738px 1037px 0 0px rgba(255,255,255, 0.86) , 1652px 1498px 0 0px rgba(255,255,255, 0.806) , 1585px 436px 0 0px rgba(255,255,255, 0.418) , 1364px 888px 0 0px rgba(255,255,255, 0.052) , 784px 207px 0 0px rgba(255,255,255, 0.838) , 1570px 1472px 0 0px rgba(255,255,255, 0.476) , 1502px 789px 0 0px rgba(255,255,255, 0.296) , 6px 622px 0 0px rgba(255,255,255, 0.251) , 296px 520px 0 0px rgba(255,255,255, 0.452) , 497px 318px 0 0px rgba(255,255,255, 0.129) , 989px 1687px 0 0px rgba(255,255,255, 0.753) , 595px 106px 0 0px rgba(255,255,255, 0.684) , 586px 783px 0 0px rgba(255,255,255, 0.063) , 1628px 753px 0 0px rgba(255,255,255, 0.035) , 489px 503px 0 0px rgba(255,255,255, 0.201) , 1030px 741px 0 0px rgba(255,255,255, 0.718) , 348px 602px 0 0px rgba(255,255,255, 0.14) , 665px 1281px 0 0px rgba(255,255,255, 0.005) , 1379px 880px 0 0px rgba(255,255,255, 0.095) , 707px 932px 0 0px rgba(255,255,255, 0.26) , 949px 800px 0 0px rgba(255,255,255, 0.99) , 775px 463px 0 0px rgba(255,255,255, 0.616) , 140px 38px 0 0px rgba(255,255,255, 0.58) , 702px 540px 0 0px rgba(255,255,255, 0.814) , 745px 513px 0 0px rgba(255,255,255, 0.66) , 1080px 25px 0 0px rgba(255,255,255, 0.326) , 1279px 1294px 0 0px rgba(255,255,255, 0.296) , 455px 1622px 0 0px rgba(255,255,255, 0.12) , 820px 166px 0 0px rgba(255,255,255, 0.018) , 60px 122px 0 0px rgba(255,255,255, 0.05) , 1428px 812px 0 0px rgba(255,255,255, 0.255) , 1217px 149px 0 0px rgba(255,255,255, 0.486) , 1258px 506px 0 0px rgba(255,255,255, 0.048) , 127px 813px 0 0px rgba(255,255,255, 0.344) , 1603px 1136px 0 0px rgba(255,255,255, 0.115) , 53px 579px 0 0px rgba(255,255,255, 0.597) , 684px 62px 0 0px rgba(255,255,255, 0.112) , 819px 284px 0 0px rgba(255,255,255, 0.543) , 1601px 366px 0 0px rgba(255,255,255, 0.69) , 535px 443px 0 0px rgba(255,255,255, 0.463) , 1309px 1333px 0 0px rgba(255,255,255, 0.56) , 59px 505px 0 0px rgba(255,255,255, 0.933) , 966px 619px 0 0px rgba(255,255,255, 0.944) , 832px 557px 0 0px rgba(255,255,255, 0.093) , 455px 1049px 0 0px rgba(255,255,255, 0.329) , 806px 1072px 0 0px rgba(255,255,255, 0.975) , 540px 216px 0 0px rgba(255,255,255, 0.215) , 6px 1330px 0 0px rgba(255,255,255, 0.802) , 394px 1502px 0 0px rgba(255,255,255, 0.305) , 346px 189px 0 0px rgba(255,255,255, 0.072) , 179px 1629px 0 0px rgba(255,255,255, 0.434) , 11px 621px 0 0px rgba(255,255,255, 0.998) , 608px 1287px 0 0px rgba(255,255,255, 0.528) , 1475px 1596px 0 0px rgba(255,255,255, 0.956) , 1185px 1367px 0 0px rgba(255,255,255, 0.385) , 1485px 747px 0 0px rgba(255,255,255, 0.893) , 1322px 976px 0 0px rgba(255,255,255, 0.294) , 957px 1596px 0 0px rgba(255,255,255, 0.45) , 1293px 1773px 0 0px rgba(255,255,255, 0.619) , 335px 1150px 0 0px rgba(255,255,255, 0.513) , 1740px 1566px 0 0px rgba(255,255,255, 0.082) , 145px 332px 0 0px rgba(255,255,255, 0.753) , 1301px 1074px 0 0px rgba(255,255,255, 0.522) , 1170px 1690px 0 0px rgba(255,255,255, 0.973) , 665px 910px 0 0px rgba(255,255,255, 0.208) , 691px 1012px 0 0px rgba(255,255,255, 0.835) , 1634px 631px 0 0px rgba(255,255,255, 0.829) , 958px 1208px 0 0px rgba(255,255,255, 0.887) , 782px 1010px 0 0px rgba(255,255,255, 0.108) , 1461px 1512px 0 0px rgba(255,255,255, 0.145) , 1452px 1343px 0 0px rgba(255,255,255, 0.467) , 496px 1664px 0 0px rgba(255,255,255, 0.111) , 1772px 470px 0 0px rgba(255,255,255, 0.194) , 1255px 16px 0 0px rgba(255,255,255, 0.355) , 273px 1380px 0 0px rgba(255,255,255, 0.609) , 1501px 1289px 0 0px rgba(255,255,255, 0.445) , 1630px 173px 0 0px rgba(255,255,255, 0.714) , 1087px 376px 0 0px rgba(255,255,255, 0.772) , 1081px 1512px 0 0px rgba(255,255,255, 0.321) , 349px 842px 0 0px rgba(255,255,255, 0.059) , 1563px 1446px 0 0px rgba(255,255,255, 0.496) , 462px 1127px 0 0px rgba(255,255,255, 0.3) , 23px 437px 0 0px rgba(255,255,255, 0.991) , 1282px 174px 0 0px rgba(255,255,255, 0.088) , 1092px 152px 0 0px rgba(255,255,255, 0.261) , 293px 1506px 0 0px rgba(255,255,255, 0.947) , 848px 277px 0 0px rgba(255,255,255, 0.129) , 1520px 506px 0 0px rgba(255,255,255, 0.068) , 1761px 534px 0 0px rgba(255,255,255, 0.011) , 1672px 641px 0 0px rgba(255,255,255, 0.196) , 1635px 645px 0 0px rgba(255,255,255, 0.561) , 168px 954px 0 0px rgba(255,255,255, 0.883) , 678px 726px 0 0px rgba(255,255,255, 0.981);
  border-radius: 100px;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-animation: orb 7.1867343561s linear infinite;
          animation: orb 7.1867343561s linear infinite;
}
.mercury:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}

.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 18.4555338265s linear infinite;
          animation: orb 18.4555338265s linear infinite;
}
.venus:before {
  height: 8px;
  width: 8px;
  background: #beb768;
  margin-top: -4px;
  margin-left: -4px;
}

.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 30s linear infinite;
          animation: orb 30s linear infinite;
}
.earth:before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}
.earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  -webkit-animation: orb 2.2440352158s linear infinite;
          animation: orb 2.2440352158s linear infinite;
}

.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  -webkit-animation: orb 56.4261314589s linear infinite;
          animation: orb 56.4261314589s linear infinite;
}
.mars:before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
}

.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  -webkit-animation: orb 355.7228171013s linear infinite;
          animation: orb 355.7228171013s linear infinite;
}
.jupiter:before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}

.saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  -webkit-animation: orb 882.6952471456s linear infinite;
          animation: orb 882.6952471456s linear infinite;
}
.saturn:before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}
.saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  -webkit-animation: orb 882.6952471456s linear infinite;
          animation: orb 882.6952471456s linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
}

.uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  -webkit-animation: orb 2512.4001967933s linear infinite;
          animation: orb 2512.4001967933s linear infinite;
}
.uranus:before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}

.neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  -webkit-animation: orb 4911.7838624549s linear infinite;
          animation: orb 4911.7838624549s linear infinite;
}
.neptune:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}

.asteroids-belt {
  opacity: 0.7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  -webkit-animation: orb 179.9558282773s linear infinite;
          animation: orb 179.9558282773s linear infinite;
  overflow: hidden;
}
.asteroids-belt:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: -63px 30px 0 -104px rgba(255, 255, 255, 0.114) , -64px -119px 0 -104px rgba(255,255,255, 0.478) , 111px 125px 0 -104px rgba(255,255,255, 0.305) , -122px 54px 0 -104px rgba(255,255,255, 0.421) , -34px 103px 0 -104px rgba(255,255,255, 0.46) , 18px -74px 0 -104px rgba(255,255,255, 0.369) , -9px 39px 0 -104px rgba(255,255,255, 0.972) , -86px 12px 0 -104px rgba(255,255,255, 0.113) , 115px 111px 0 -104px rgba(255,255,255, 0.161) , -113px 97px 0 -104px rgba(255,255,255, 0.036) , -104px 123px 0 -104px rgba(255,255,255, 0.427) , -83px 56px 0 -104px rgba(255,255,255, 0.331) , -78px -80px 0 -104px rgba(255,255,255, 0.101) , 120px -59px 0 -104px rgba(255,255,255, 0.164) , 2px 87px 0 -104px rgba(255,255,255, 0.896) , -129px 49px 0 -104px rgba(255,255,255, 0.551) , -63px -30px 0 -104px rgba(255,255,255, 0.651) , -29px 97px 0 -104px rgba(255,255,255, 0.285) , 141px 90px 0 -104px rgba(255,255,255, 0.443) , -35px -108px 0 -104px rgba(255,255,255, 0.323) , 78px 143px 0 -104px rgba(255,255,255, 0.55) , 39px 112px 0 -104px rgba(255,255,255, 0.768) , 142px -78px 0 -104px rgba(255,255,255, 0.723) , -139px 139px 0 -104px rgba(255,255,255, 0.869) , 122px -61px 0 -104px rgba(255,255,255, 0.085) , 63px 32px 0 -104px rgba(255,255,255, 0.73) , -122px 102px 0 -104px rgba(255,255,255, 0.222) , 145px 89px 0 -104px rgba(255,255,255, 0.178) , -35px 97px 0 -104px rgba(255,255,255, 0.138) , 67px -49px 0 -104px rgba(255,255,255, 0.538) , -23px -114px 0 -104px rgba(255,255,255, 0.112) , 69px -99px 0 -104px rgba(255,255,255, 0.287) , -35px 33px 0 -104px rgba(255,255,255, 0.852) , -46px 71px 0 -104px rgba(255,255,255, 0.566) , -27px -21px 0 -104px rgba(255,255,255, 0.75) , -84px 20px 0 -104px rgba(255,255,255, 0.747) , 1px 119px 0 -104px rgba(255,255,255, 0.682) , 74px -50px 0 -104px rgba(255,255,255, 0.027) , -15px -56px 0 -104px rgba(255,255,255, 0.539) , -4px 118px 0 -104px rgba(255,255,255, 0.54) , 112px 58px 0 -104px rgba(255,255,255, 0.161) , -67px -12px 0 -104px rgba(255,255,255, 0.835) , -110px -10px 0 -104px rgba(255,255,255, 0.987) , -75px 133px 0 -104px rgba(255,255,255, 0.353) , 18px 108px 0 -104px rgba(255,255,255, 0.858) , 81px 96px 0 -104px rgba(255,255,255, 0.309) , -8px -15px 0 -104px rgba(255,255,255, 0.779) , -103px -25px 0 -104px rgba(255,255,255, 0.687) , 110px -20px 0 -104px rgba(255,255,255, 0.847) , 21px -137px 0 -104px rgba(255,255,255, 0.092) , -91px 130px 0 -104px rgba(255,255,255, 0.209) , -68px -110px 0 -104px rgba(255,255,255, 0.104) , -94px -42px 0 -104px rgba(255,255,255, 0.27) , -84px 39px 0 -104px rgba(255,255,255, 0.931) , -115px 116px 0 -104px rgba(255,255,255, 0.723) , -12px -47px 0 -104px rgba(255,255,255, 0.284) , 70px 88px 0 -104px rgba(255,255,255, 0.501) , 95px 81px 0 -104px rgba(255,255,255, 0.652) , -85px 45px 0 -104px rgba(255,255,255, 0.312) , 77px 94px 0 -104px rgba(255,255,255, 0.205) , -66px -23px 0 -104px rgba(255,255,255, 0.815) , 110px 55px 0 -104px rgba(255,255,255, 0.65) , 47px -83px 0 -104px rgba(255,255,255, 0.988) , -60px 52px 0 -104px rgba(255,255,255, 0.347) , -112px 124px 0 -104px rgba(255,255,255, 0.685) , 29px -76px 0 -104px rgba(255,255,255, 0.955) , -124px 135px 0 -104px rgba(255,255,255, 0.671) , 57px 55px 0 -104px rgba(255,255,255, 0.943) , 91px -129px 0 -104px rgba(255,255,255, 0.975) , 115px -87px 0 -104px rgba(255,255,255, 0.38) , -107px -53px 0 -104px rgba(255,255,255, 0.526) , -34px 130px 0 -104px rgba(255,255,255, 0.97) , 61px -132px 0 -104px rgba(255,255,255, 0.874) , -71px -124px 0 -104px rgba(255,255,255, 0.48) , 44px 109px 0 -104px rgba(255,255,255, 0.37) , -78px -86px 0 -104px rgba(255,255,255, 0.273) , -122px -104px 0 -104px rgba(255,255,255, 0.183) , -131px -11px 0 -104px rgba(255,255,255, 0.795) , -142px -95px 0 -104px rgba(255,255,255, 0.748) , 70px 93px 0 -104px rgba(255,255,255, 0.085) , 26px -20px 0 -104px rgba(255,255,255, 0.439) , -24px -123px 0 -104px rgba(255,255,255, 0.987) , 48px 43px 0 -104px rgba(255,255,255, 0.946) , 42px -38px 0 -104px rgba(255,255,255, 0.685) , 7px -16px 0 -104px rgba(255,255,255, 0.977) , 9px -143px 0 -104px rgba(255,255,255, 0.195) , 82px -52px 0 -104px rgba(255,255,255, 0.169) , 130px 8px 0 -104px rgba(255,255,255, 0.301) , 59px 68px 0 -104px rgba(255,255,255, 0.28) , -17px 37px 0 -104px rgba(255,255,255, 0.622) , -112px 97px 0 -104px rgba(255,255,255, 0.19) , -38px -96px 0 -104px rgba(255,255,255, 0.655) , -102px -76px 0 -104px rgba(255,255,255, 0.591) , -12px -140px 0 -104px rgba(255,255,255, 0.072) , -11px 29px 0 -104px rgba(255,255,255, 0.489) , -64px 22px 0 -104px rgba(255,255,255, 0.819) , 7px 12px 0 -104px rgba(255,255,255, 0.457) , -78px -120px 0 -104px rgba(255,255,255, 0.762) , 9px -89px 0 -104px rgba(255,255,255, 0.1) , -65px 39px 0 -104px rgba(255,255,255, 0.96) , -13px -54px 0 -104px rgba(255,255,255, 0.669) , -103px 62px 0 -104px rgba(255,255,255, 0.911) , -57px -75px 0 -104px rgba(255,255,255, 0.384) , -31px -137px 0 -104px rgba(255,255,255, 0.138) , -108px -9px 0 -104px rgba(255,255,255, 0.775) , -130px -64px 0 -104px rgba(255,255,255, 0.757) , 108px -114px 0 -104px rgba(255,255,255, 0.597) , -144px 139px 0 -104px rgba(255,255,255, 0.325) , 66px -11px 0 -104px rgba(255,255,255, 0.397) , -138px -69px 0 -104px rgba(255,255,255, 0.918) , 58px -16px 0 -104px rgba(255,255,255, 0.938) , -105px 139px 0 -104px rgba(255,255,255, 0.512) , -129px -66px 0 -104px rgba(255,255,255, 0.748) , 77px -23px 0 -104px rgba(255,255,255, 0.17) , -84px -72px 0 -104px rgba(255,255,255, 0.69) , 90px -14px 0 -104px rgba(255,255,255, 0.071) , 125px 3px 0 -104px rgba(255,255,255, 0.377) , -27px 36px 0 -104px rgba(255,255,255, 0.441) , 39px -109px 0 -104px rgba(255,255,255, 0.31) , -51px -48px 0 -104px rgba(255,255,255, 0.515) , -86px 113px 0 -104px rgba(255,255,255, 0.356) , 133px -80px 0 -104px rgba(255,255,255, 0.917) , -51px -27px 0 -104px rgba(255,255,255, 0.777) , -127px -144px 0 -104px rgba(255,255,255, 0.495) , 74px 69px 0 -104px rgba(255,255,255, 0.787) , 97px 109px 0 -104px rgba(255,255,255, 0.968) , -63px 135px 0 -104px rgba(255,255,255, 0.344) , 116px -49px 0 -104px rgba(255,255,255, 0.528) , -142px -42px 0 -104px rgba(255,255,255, 0.447) , -95px -137px 0 -104px rgba(255,255,255, 0.997) , -91px 12px 0 -104px rgba(255,255,255, 0.396) , -24px -120px 0 -104px rgba(255,255,255, 0.246) , 6px -109px 0 -104px rgba(255,255,255, 0.358) , -19px -7px 0 -104px rgba(255,255,255, 0.625) , -63px -134px 0 -104px rgba(255,255,255, 0.099) , -34px 93px 0 -104px rgba(255,255,255, 1) , -99px 87px 0 -104px rgba(255,255,255, 0.262) , 116px -73px 0 -104px rgba(255,255,255, 0.818) , -91px -67px 0 -104px rgba(255,255,255, 0.559) , 32px 129px 0 -104px rgba(255,255,255, 0.656) , -54px 13px 0 -104px rgba(255,255,255, 0.684) , 86px -18px 0 -104px rgba(255,255,255, 0.075) , -126px -63px 0 -104px rgba(255,255,255, 0.753) , 15px 74px 0 -104px rgba(255,255,255, 0.722) , 137px -107px 0 -104px rgba(255,255,255, 0.371) , 138px 39px 0 -104px rgba(255,255,255, 0.3) , 95px -52px 0 -104px rgba(255,255,255, 0.68) , -103px 10px 0 -104px rgba(255,255,255, 0.192) , -75px 129px 0 -104px rgba(255,255,255, 0.859) , -10px 38px 0 -104px rgba(255,255,255, 0.126) , -45px -91px 0 -104px rgba(255,255,255, 0.66) , -100px -15px 0 -104px rgba(255,255,255, 0.19) , 23px -113px 0 -104px rgba(255,255,255, 0.083) , 28px -75px 0 -104px rgba(255,255,255, 0.221) , 60px 59px 0 -104px rgba(255,255,255, 0.009) , 59px 62px 0 -104px rgba(255,255,255, 0.512) , 78px 142px 0 -104px rgba(255,255,255, 0.986) , -48px -83px 0 -104px rgba(255,255,255, 0.255) , 41px -139px 0 -104px rgba(255,255,255, 0.728) , 128px -27px 0 -104px rgba(255,255,255, 0.064) , 86px 13px 0 -104px rgba(255,255,255, 0.974) , -79px 6px 0 -104px rgba(255,255,255, 0.382) , 13px 16px 0 -104px rgba(255,255,255, 0.047) , 85px -17px 0 -104px rgba(255,255,255, 0.402) , 119px 80px 0 -104px rgba(255,255,255, 0.178) , -78px 38px 0 -104px rgba(255,255,255, 0.455) , -72px 0px 0 -104px rgba(255,255,255, 0.682) , 128px 104px 0 -104px rgba(255,255,255, 0.563) , 64px 70px 0 -104px rgba(255,255,255, 0.805) , -19px -23px 0 -104px rgba(255,255,255, 0.915) , -97px -116px 0 -104px rgba(255,255,255, 0.625) , -83px -50px 0 -104px rgba(255,255,255, 0.89) , 30px 106px 0 -104px rgba(255,255,255, 0.623) , -143px -121px 0 -104px rgba(255,255,255, 0.945) , -118px 53px 0 -104px rgba(255,255,255, 0.309) , -76px -128px 0 -104px rgba(255,255,255, 0.955) , -132px -61px 0 -104px rgba(255,255,255, 0.505) , 36px 51px 0 -104px rgba(255,255,255, 0.969) , -123px -47px 0 -104px rgba(255,255,255, 0.003) , -43px 112px 0 -104px rgba(255,255,255, 0.838) , -9px -122px 0 -104px rgba(255,255,255, 0.681) , 42px 73px 0 -104px rgba(255,255,255, 0.198) , 73px 43px 0 -104px rgba(255,255,255, 0.649) , 19px 15px 0 -104px rgba(255,255,255, 0.635) , 28px 78px 0 -104px rgba(255,255,255, 0.082) , -131px -52px 0 -104px rgba(255,255,255, 0.37) , 30px -54px 0 -104px rgba(255,255,255, 0.254) , -13px -54px 0 -104px rgba(255,255,255, 0.671) , 26px 9px 0 -104px rgba(255,255,255, 0.342) , -114px -127px 0 -104px rgba(255,255,255, 0.438) , 4px -61px 0 -104px rgba(255,255,255, 0.977) , 16px -140px 0 -104px rgba(255,255,255, 0.62) , 90px 53px 0 -104px rgba(255,255,255, 0.008) , -36px -57px 0 -104px rgba(255,255,255, 0.706) , 99px 135px 0 -104px rgba(255,255,255, 0.613) , -63px 71px 0 -104px rgba(255,255,255, 0.439) , 110px 87px 0 -104px rgba(255,255,255, 0.455) , 71px 78px 0 -104px rgba(255,255,255, 0.765) , -40px 85px 0 -104px rgba(255,255,255, 0.426) , 25px 56px 0 -104px rgba(255,255,255, 0.385) , -10px -115px 0 -104px rgba(255,255,255, 0.532) , -128px 137px 0 -104px rgba(255,255,255, 0.679) , -26px 137px 0 -104px rgba(255,255,255, 0.846) , -19px -23px 0 -104px rgba(255,255,255, 0.699) , -15px -111px 0 -104px rgba(255,255,255, 0.656) , 93px 28px 0 -104px rgba(255,255,255, 0.701) , -51px -54px 0 -104px rgba(255,255,255, 0.58) , -20px 80px 0 -104px rgba(255,255,255, 0.879) , 36px 71px 0 -104px rgba(255,255,255, 0.994) , 37px 49px 0 -104px rgba(255,255,255, 0.638) , -15px -51px 0 -104px rgba(255,255,255, 0.733) , 40px 30px 0 -104px rgba(255,255,255, 0.462) , -80px -25px 0 -104px rgba(255,255,255, 0.501) , -117px 91px 0 -104px rgba(255,255,255, 0.988) , 37px -119px 0 -104px rgba(255,255,255, 0.498) , -111px 77px 0 -104px rgba(255,255,255, 0.824) , -18px 37px 0 -104px rgba(255,255,255, 0.435) , -32px -42px 0 -104px rgba(255,255,255, 0.554) , -30px -137px 0 -104px rgba(255,255,255, 0.294) , 78px -136px 0 -104px rgba(255,255,255, 0.131) , -88px 29px 0 -104px rgba(255,255,255, 0.833) , -119px 104px 0 -104px rgba(255,255,255, 0.085) , -128px -122px 0 -104px rgba(255,255,255, 0.736) , -30px 66px 0 -104px rgba(255,255,255, 0.829) , 94px -11px 0 -104px rgba(255,255,255, 0.379) , 22px -101px 0 -104px rgba(255,255,255, 0.995) , 132px 14px 0 -104px rgba(255,255,255, 0.398) , 115px 30px 0 -104px rgba(255,255,255, 0.255) , -71px -88px 0 -104px rgba(255,255,255, 0.113) , -76px -94px 0 -104px rgba(255,255,255, 0.116) , 109px -141px 0 -104px rgba(255,255,255, 0.695) , -67px -124px 0 -104px rgba(255,255,255, 0.757) , -44px 129px 0 -104px rgba(255,255,255, 0.844) , 53px 46px 0 -104px rgba(255,255,255, 0.591) , -134px 97px 0 -104px rgba(255,255,255, 0.963) , -84px 75px 0 -104px rgba(255,255,255, 0.046) , -112px -144px 0 -104px rgba(255,255,255, 0.077) , -39px -12px 0 -104px rgba(255,255,255, 0.035) , 120px -25px 0 -104px rgba(255,255,255, 0.374) , 55px -44px 0 -104px rgba(255,255,255, 0.396) , 44px 49px 0 -104px rgba(255,255,255, 0.822) , -130px 103px 0 -104px rgba(255,255,255, 0.237) , 95px 6px 0 -104px rgba(255,255,255, 0.886) , -35px -69px 0 -104px rgba(255,255,255, 0.707) , 18px 125px 0 -104px rgba(255,255,255, 0.734) , 105px 47px 0 -104px rgba(255,255,255, 0.127) , 30px 73px 0 -104px rgba(255,255,255, 0.945) , 121px -89px 0 -104px rgba(255,255,255, 0.601) , -97px 99px 0 -104px rgba(255,255,255, 0.073) , 1px -32px 0 -104px rgba(255,255,255, 0.421) , -10px 46px 0 -104px rgba(255,255,255, 0.176) , 77px -17px 0 -104px rgba(255,255,255, 0.018) , 18px -122px 0 -104px rgba(255,255,255, 0.818) , -70px 61px 0 -104px rgba(255,255,255, 0.385) , -114px -4px 0 -104px rgba(255,255,255, 0.213) , -140px 37px 0 -104px rgba(255,255,255, 0.747) , -38px 20px 0 -104px rgba(255,255,255, 0.242) , -111px -112px 0 -104px rgba(255,255,255, 0.731) , -47px 38px 0 -104px rgba(255,255,255, 0.926) , -144px 139px 0 -104px rgba(255,255,255, 0.435) , -26px 101px 0 -104px rgba(255,255,255, 0.001) , -98px -67px 0 -104px rgba(255,255,255, 0.126) , 38px -90px 0 -104px rgba(255,255,255, 0.37) , 80px 21px 0 -104px rgba(255,255,255, 0.063) , 140px 131px 0 -104px rgba(255,255,255, 0.825) , -105px -42px 0 -104px rgba(255,255,255, 0.05) , 72px 119px 0 -104px rgba(255,255,255, 0.71) , -23px -84px 0 -104px rgba(255,255,255, 0.652) , -6px 34px 0 -104px rgba(255,255,255, 0.244) , -10px 112px 0 -104px rgba(255,255,255, 0.516) , 126px 21px 0 -104px rgba(255,255,255, 0.001) , 95px -18px 0 -104px rgba(255,255,255, 0.818) , -23px -95px 0 -104px rgba(255,255,255, 0.933) , 27px 126px 0 -104px rgba(255,255,255, 0.591) , 138px 60px 0 -104px rgba(255,255,255, 0.606) , -75px -44px 0 -104px rgba(255,255,255, 0.083) , 34px 88px 0 -104px rgba(255,255,255, 0.72) , 57px -139px 0 -104px rgba(255,255,255, 0.676) , -10px -74px 0 -104px rgba(255,255,255, 0.722) , 130px 38px 0 -104px rgba(255,255,255, 0.077) , 64px 41px 0 -104px rgba(255,255,255, 0.46) , -55px 45px 0 -104px rgba(255,255,255, 0.166) , -25px 79px 0 -104px rgba(255,255,255, 0.55) , -54px 38px 0 -104px rgba(255,255,255, 0.373) , -116px 1px 0 -104px rgba(255,255,255, 0.59) , 117px 58px 0 -104px rgba(255,255,255, 0.471) , 19px -58px 0 -104px rgba(255,255,255, 0.541) , -7px 21px 0 -104px rgba(255,255,255, 0.698) , -81px -118px 0 -104px rgba(255,255,255, 0.5) , -66px -29px 0 -104px rgba(255,255,255, 0.73) , -83px -21px 0 -104px rgba(255,255,255, 0.732) , -82px 80px 0 -104px rgba(255,255,255, 0.619) , -121px 36px 0 -104px rgba(255,255,255, 0.231) , -83px -17px 0 -104px rgba(255,255,255, 0.755) , 98px -5px 0 -104px rgba(255,255,255, 0.245) , 49px 78px 0 -104px rgba(255,255,255, 0.354) , 39px 63px 0 -104px rgba(255,255,255, 0.192) , 95px -101px 0 -104px rgba(255,255,255, 0.179) , -20px 0px 0 -104px rgba(255,255,255, 0.862) , 6px -73px 0 -104px rgba(255,255,255, 0.402) , -20px -100px 0 -104px rgba(255,255,255, 0.475) , 131px 5px 0 -104px rgba(255,255,255, 0.359) , -73px -138px 0 -104px rgba(255,255,255, 0.798) , -82px -94px 0 -104px rgba(255,255,255, 0.749) , -106px -106px 0 -104px rgba(255,255,255, 0.924) , 29px 32px 0 -104px rgba(255,255,255, 0.443) , 139px -39px 0 -104px rgba(255,255,255, 0.519) , -124px -46px 0 -104px rgba(255,255,255, 0.159) , -9px 72px 0 -104px rgba(255,255,255, 0.85) , -37px -116px 0 -104px rgba(255,255,255, 0.438) , -107px -112px 0 -104px rgba(255,255,255, 0.886) , 139px -78px 0 -104px rgba(255,255,255, 0.304) , 95px 19px 0 -104px rgba(255,255,255, 0.2) , 132px -9px 0 -104px rgba(255,255,255, 0.148) , 117px 93px 0 -104px rgba(255,255,255, 0.697) , 138px -119px 0 -104px rgba(255,255,255, 0.498) , 88px 58px 0 -104px rgba(255,255,255, 0.146) , -19px 137px 0 -104px rgba(255,255,255, 0.746) , -37px 20px 0 -104px rgba(255,255,255, 0.497) , -117px 116px 0 -104px rgba(255,255,255, 0.484) , 107px -53px 0 -104px rgba(255,255,255, 0.943) , 24px -54px 0 -104px rgba(255,255,255, 0.344) , -61px 9px 0 -104px rgba(255,255,255, 0.716) , -114px -60px 0 -104px rgba(255,255,255, 0.675) , 41px -33px 0 -104px rgba(255,255,255, 0.273) , -89px -94px 0 -104px rgba(255,255,255, 0.911) , 132px -138px 0 -104px rgba(255,255,255, 0.345) , 55px -10px 0 -104px rgba(255,255,255, 0.962) , 110px 92px 0 -104px rgba(255,255,255, 0.13) , -26px -46px 0 -104px rgba(255,255,255, 0.861) , 58px 89px 0 -104px rgba(255,255,255, 0.543) , 33px 121px 0 -104px rgba(255,255,255, 0.192) , -98px 111px 0 -104px rgba(255,255,255, 0.809) , 121px -137px 0 -104px rgba(255,255,255, 0.078) , -130px -37px 0 -104px rgba(255,255,255, 0.933) , 80px 144px 0 -104px rgba(255,255,255, 0.673) , 17px -66px 0 -104px rgba(255,255,255, 0.526) , 31px -46px 0 -104px rgba(255,255,255, 0.976) , 81px 43px 0 -104px rgba(255,255,255, 0.14) , 143px -126px 0 -104px rgba(255,255,255, 0.338) , -5px 145px 0 -104px rgba(255,255,255, 0.177) , -57px -56px 0 -104px rgba(255,255,255, 0.515) , -128px 50px 0 -104px rgba(255,255,255, 0.341) , -131px -98px 0 -104px rgba(255,255,255, 0.465) , -72px 107px 0 -104px rgba(255,255,255, 0.796) , -33px -69px 0 -104px rgba(255,255,255, 0.484) , -85px -139px 0 -104px rgba(255,255,255, 0.161) , 108px -18px 0 -104px rgba(255,255,255, 0.645) , -53px -19px 0 -104px rgba(255,255,255, 0.456) , -121px -30px 0 -104px rgba(255,255,255, 0.033) , 29px -35px 0 -104px rgba(255,255,255, 0.548) , -5px 2px 0 -104px rgba(255,255,255, 0.903) , -102px -104px 0 -104px rgba(255,255,255, 0.96) , 78px 59px 0 -104px rgba(255,255,255, 0.376) , -31px -30px 0 -104px rgba(255,255,255, 0.2) , -56px -6px 0 -104px rgba(255,255,255, 0.967) , 129px -30px 0 -104px rgba(255,255,255, 0.098) , -110px -62px 0 -104px rgba(255,255,255, 0.418) , -72px 5px 0 -104px rgba(255,255,255, 0.907) , -13px -111px 0 -104px rgba(255,255,255, 0.01) , 102px -140px 0 -104px rgba(255,255,255, 0.814) , 132px -37px 0 -104px rgba(255,255,255, 0.041) , -144px -118px 0 -104px rgba(255,255,255, 0.208) , -109px -119px 0 -104px rgba(255,255,255, 0.849) , 142px -64px 0 -104px rgba(255,255,255, 0.833) , 66px 48px 0 -104px rgba(255,255,255, 0.032) , -52px -76px 0 -104px rgba(255,255,255, 0.819) , 129px 101px 0 -104px rgba(255,255,255, 0.791) , 16px -126px 0 -104px rgba(255,255,255, 0.106) , 96px 53px 0 -104px rgba(255,255,255, 0.086) , 20px -17px 0 -104px rgba(255,255,255, 0.25) , -39px 112px 0 -104px rgba(255,255,255, 0.693) , 7px -74px 0 -104px rgba(255,255,255, 0.912) , -68px -8px 0 -104px rgba(255,255,255, 0.263) , -57px 106px 0 -104px rgba(255,255,255, 0.535) , -57px 11px 0 -104px rgba(255,255,255, 0.313) , 118px -98px 0 -104px rgba(255,255,255, 0.822) , -125px 35px 0 -104px rgba(255,255,255, 0.3) , -61px -64px 0 -104px rgba(255,255,255, 0.027) , 78px 59px 0 -104px rgba(255,255,255, 0.867) , -54px -78px 0 -104px rgba(255,255,255, 0.666) , -126px -113px 0 -104px rgba(255,255,255, 0.061) , -104px -85px 0 -104px rgba(255,255,255, 0.387) , -31px -19px 0 -104px rgba(255,255,255, 0.253) , -15px 86px 0 -104px rgba(255,255,255, 0.435) , 87px -2px 0 -104px rgba(255,255,255, 0.864) , -23px -71px 0 -104px rgba(255,255,255, 0.753) , 92px 103px 0 -104px rgba(255,255,255, 0.15) , -57px 1px 0 -104px rgba(255,255,255, 0.973) , 65px 119px 0 -104px rgba(255,255,255, 0.225);
}

.pluto {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  -webkit-animation: orb 7439.7074054575s linear infinite;
          animation: orb 7439.7074054575s linear infinite;
}
.pluto:before {
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

.hide {
  display: none;
}

.links {
  margin-top: 5px !important;
  font-size: 1em !important;
}

@-webkit-keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/* .darksoul-navbar
{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 100;
    background-color: #000;
    backdrop-filter: blur(20px);
}
.darksoul-navbar .brand
{
    margin: auto;
    width: fit-content;
    height: 60px;
    margin-left: 20px;
    margin-top: 5px;
    display: flex;

}
.darksoul-navbar .brand h1
{
    font-family: "Comforter", cursive;
    margin: auto;
    color: rgb(255, 255, 255);
}
.darksoul-navbar ul
{
    width: 50%;
    height: 100%;
    margin: auto;
    margin-left: 0px;
    display: flex;


}
.darksoul-navbar ul li
{
    margin: auto;
    margin-left: 0px;
    list-style: none;
    font-weight: 400;
}
.rect
{
    margin: auto;
    margin-left: 0px;
    width: 0%;
    height: 2px;
    background-color: rgb(255, 255, 255);
}
.darksoul-navbar ul li:hover .rect
{
    width: 100%;
    transition: all 0.5s;
}
.darksoul-navbar ul li a
{
    font-family: "Poppins", sans-serif;
    font-size: smaller;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.darksoul-navbar .navbar-toggler
{
    margin: auto;
    width: 50px;
    height: 40%;
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s;
    margin-right: 20px;

}
.darksoul-navbar .navbar-toggler .line1, .darksoul-navbar .navbar-toggler .line2
{
    margin: auto;
    width: 20px;
    height: 1px;
    background-color: rgb(255, 255, 255);

}
.overlay-dropdown
{
    display: none;
}
.overlay-dropdown ul li
{
    display: none;
}


#intro-div, #about-div, #services-div, #careers-div, #contact-div
{
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
}
#intro-div h2, #about-div h2, #services-div h2, #careers-div h2, #contact-div h2
{
    margin: auto;
    font-size: 7vw;
    color: rgb(255, 255, 255);
}


@media only screen and (max-width: 1000px)
{
    .darksoul-navbar ul
    {
        display: none;
    }
    .darksoul-navbar .navbar-toggler
    {
        display: flex;
    }
    .overlay-dropdown
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.overlay-dropdown .brand
{
   margin: auto;
   height: 60px;
   margin-left: 20px;
   margin-top: 12px;
}
.overlay-dropdown .brand h1
{
    font-family: "Comforter", cursive;
    margin: auto;
}
.overlay-dropdown ul
{
    width: 50%;
    height: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-left: -16px;
    margin-top: 20px;
}
.overlay-dropdown ul li
{
    display: flex;
    list-style-type: none;
    margin-left: 20px;

}
.overlay-dropdown ul li a
{
    text-decoration: none;
    color: black;
    font-size: 50px;
}
}

.disclaimer
{ 
    margin: auto; 
    margin-bottom: 20px;
    width: fit-content;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Belanosima', sans-serif;
}
.disclaimer a
{
    text-decoration: none;
    color: #ffffff;
    font-family: "Kaushan Script", cursive;
    font-weight: 900;
}
.disclaimer a:hover
{
    text-decoration: overline;
} */